#playButton{
    height: 100px;
    width: 100px;
    position: absolute;
}
body{
    background-image:url('https://s-media-cache-ak0.pinimg.com/originals/98/b7/d4/98b7d4047d97c0d70c9f8eff994860b3.jpg') ;
}